<header>
	<div class="container">
		<h1>AVIS</h1>
	</div>
</header>

<div class="steps">
	<a href="#">1</a>
	<a href="#step2">2</a>
	<a href="#step3"">3</a>
</div>

<div class="container">

	<div class="row">
		
		<div id="primary" class="span8">
			
		</div>
		
		<div id="sidebar" class="span4">
			<h3>Rent a GPS Today</h3>
			<input />
		</div>
		
	</div>
	
</div>
