<h3>Rental Information</h3>
<div class="pickup">
	Pickup
	<label>Location</label><span class="location"></span>
	<label>Date</label><span class="date"></span>
</div>

<div class="dropoff">
	Dropoff
	<label>Location</label><span class="location"></span>
	<label>Date</label><span class="date"></span>
</div>

<div class="renter">

</div>

<h3>Car Details</h3>
{{#if car}}
	{{ car.category }}
	{{ car.make }} {{ car.model}}
{{else}}
	None selected
{{/if}}